$dark-bg: #171430;
$dark-card: #26233c;
$dark-text: #dbdbdb;
$dark-text-grey: #6c6c7c;
$accent-red-bg: #4d1229;
$accent-red-text: #fe0738;
$accent-green-bg: #1a382d;
$accent-green-text: #259441;
$logo-red: #f52f57;
