@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./../components/_header.scss";
@import "./_variables.scss";
@import "./../components/login";
@import "./../components/selectcurrency";
@import "./../components/newscard";
@import "./../components/landing";
@import "./../components/loading";
* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $dark-bg;
  color: $dark-text;
}
