.selectcurrency {
  display: flex;
  margin-right: 0.5em;
  &__selector {
    margin-right: 1em;
    padding: 0.5em;
  }
  h2 {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 800;
  }

  &__currency {
    border: 2 px solid $dark-card;
    padding: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: $dark-card;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    width: 100%;
    transition: $anim;

    @media screen and (max-width: 768px) {
      & {
        width: 100%;
      }
    }
    @media screen and (max-width: 550px) {
      & {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }
    &:hover {
      transform: scale(0.95);
    }

    &__top {
      padding: 0 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        // text-transform: uppercase;
        padding: 0.5em;
        width: 50%;
        background-color: $dark-bg;
        border-radius: 5px;
        font-size: 1em;
        outline: none;
        color: $dark-text;
      }
    }
    &__dropdown {
      z-index: 1000;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      padding: 1em;
      background-color: $dark-card;
      margin-top: 0.5em;
      width: 70%;
      height: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      right: 0;

      &__close {
        border-radius: 50%;
        display: flex;
        align-items: center;
        transition: $anim;

        &:hover {
          cursor: pointer;
          background-color: $dark-bg;
          transform: scale(0.9);
        }
      }
      &__list {
        padding: 0.5em;
        overflow-y: scroll;
        margin-top: 1.5em;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5em;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      li {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 0.5em;
        cursor: pointer;
        list-style: none;
        font-weight: 600;
        // width: 5em;
        background-color: $dark-bg;
        transition: $anim;

        p {
          color: $accent-green-text;
          color: $dark-text-grey;
          font-weight: 800;
          letter-spacing: 0.25px;
          font-size: 0.75rem;
          // text-transform: lowercase;
        }
        &:hover {
          transform: scale(1.05);
        }
      }

      @media screen and (max-width: 750px) {
        width: 90%;
        height: 80%;

        li {
          flex-direction: column;
        }

        &__list {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      @media screen and (max-width: 530px) {
        // margin-top: 2em;
        padding-top: 2em;
        height: 100%;

        &__list {
          grid-template-columns: 1fr 1fr 1fr;
        }
        li {
          flex-direction: row;
        }
      }
    }
  }

  &__wrapper {
    z-index: 1000;
    position: fixed;
    //https://api-docs.coinfeeds.io/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 101%;
    height: 101%;
    background-color: #0d1117e5;
  }
}
