.table {
  padding: 0.5em 0.75em;
  background-color: $dark-bg;
  overflow-x: scroll;
  &__heading {
    margin-top: 1em;
    padding: 0 0.75em;
    font-size: 1.25rem;
    font-weight: 800;
    color: $dark-text-grey;
  }
  table {
    text-align: left;
    font-size: 0.9rem;
    width: 100%;
    border-spacing: 0 0.5em;
    tbody {
      outline: 1px solid $dark-card;
    }
    td {
      outline: 1px solid $dark-card;
      padding: 0.25em 0.5em;
      text-align: left;
      min-height: 4em;
      p {
        margin-left: 0.5em;
      }
    }
  }
  img {
    width: 20px;
    border-radius: 50%;
  }

  &__pricechange--red {
    color: $accent-red-text;
  }
  &__pricechange--green {
    color: $accent-green-text;
  }

  &__coininfo {
    display: flex;
    align-items: center;
  }

  &__pagination {
    padding: 0.25em;
    display: flex;
    justify-content: center;
    p {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin: 0 0.5em;
    }

    &__selected {
      background-color: $logo-blue;
      padding: 0.5em 0.75em;
      border-radius: 4px;
    }
  }

  @media screen and (max-width: 550px) {
    & {
      padding: 0 0.25em;

      &__heading {
        padding: 0 0.25em;
        margin-bottom: 1em;
      }
    }
  }
}
